<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="ISO-8859-1">
	<title>Order Success</title>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<img th:src="@{/img/deliver.png}" alt="Delivery Success" style="height: 400px; width: auto; margin-bottom: 1rem;" th:onerror="'this.src=\'/img/fallback.png\''">
				<p class="fs-3 text-success">Product Ordered Successfully</p>
				<p class="fs-4">Product will be delivered within 2 Hours</p>
				<div class="text-center">
					<a href="/" class="btn btn-primary">Home</a>
					<a href="/user/user-orders" class="btn btn-primary">Your Order</a>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	:root {
        --dark-green: #164d33;
        --white: #fff;
    }

    .btn-primary {
        background-color: var(--dark-green) !important;
        border-color: var(--dark-green) !important;
        color: var(--white) !important;
        margin: 0 0.5rem;
    }

    .btn-primary:hover {
        background-color: #0f2f1f !important;
        border-color: #0f2f1f !important;
        color: var(--white) !important;
    }
</style>
</body>
</html>